<div class="row">
    <div class="col-sm-12">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <hr>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" formControlName="name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="name">Image URL:</label>
                        <input type="text" class="form-control" id="imagePath" formControlName="imagePath" #imagePath>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <img [src]="imagePath.value" class="img-responsive">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <textarea class="form-control" rows="6" id="description" formControlName="description"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" formArrayName="ingredients">
                    <div class="row">
                        <div class="col-xs-12">
                            <label>Ingredients:</label>
                        </div>
                        <div class="col-sm-8">
                            <label>Name:</label>
                        </div>
                        <div class="col-sm-2">
                            <label>Amount:</label>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    <div class="row" *ngFor="let ingredientsControl of ingredientsControlFn; let i = index" [formGroupName]="i">
                        <div class="col-sm-8">
                            <input type="text" class="form-control" formControlName="name">
                        </div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" formControlName="amount">
                        </div>
                        <div class="col-sm-2">
                            <button type="button" (click)="onDeleteIngredient(i)" class="btn btn-danger">X</button>
                        </div>
                        <hr>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-success" (click)="addIngredients()">Add Ingredients</button>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-12">
                    <button type="submit" [disabled]="!recipeForm.valid" class="btn btn-success margin-right-5perc">Save</button>
                    <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
