<ng-template appPlaceholder></ng-template>
<div class="row" *ngIf="errorMessage.length > 0">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <!-- traditional approach to display error message i.e. property-binding
        <div class="alert alert-danger center-align">
            <p>An error occured:</p>
            <span>{{ errorMessage }}</span>
        </div> -->
        <!-- Approach 2: display component conditionally using *ngIf, till now we only used this at propert level,
            we can also use it at component level -> RECOMMENDED APPROACH
        <app-alert-shared [message]="errorMessage" *ngIf="errorMessage.length > 0" (closePopUp)="closePopUp()"></app-alert-shared> -->
        <!-- Approach 3: creating component on fly: AVOID until necessary 
        <ng-template appPlaceholder></ng-template> => Adding ng-template here won't work, it has to be at top of 
        HTML file i.e. line # 1-->
    </div>
</div>
<ng-template #loadinSpinner>
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3 center-align">
            <app-loading-spinner></app-loading-spinner>
        </div>
    </div>
</ng-template>
<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading; else loadinSpinner">
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="email" id="email" class="form-control" name="email" ngModel required email #emailInput="ngModel" />
                <span class="help-block" *ngIf="!emailInput.valid && emailInput.touched">Please enter a valid email</span>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" name="password" ngModel required minlength="6" #passwordInput="ngModel" />
                <span class="help-block" *ngIf="!passwordInput.valid && passwordInput.touched">Please enter more complex password</span>
            </div>
            <div>
                <button class="btn btn-primary" type="submit" [disabled]="!authForm.valid">{{ isLoginMode ? 'Login' : 'Sign Up' }}</button> |
                <button class="btn btn-primary" (click)="onSwithcMode()" type="button">{{ isLoginMode ? 'Switch to Sign Up' : 'Switch to Login' }}</button>
            </div>
        </form>
    </div>
</div>  