<div class="row">
    <div class="col-xs-12">
        <label>Server Name:</label>
        <input type="text" class="form-control" [(ngModel)]="serverName" />
        <br>
        <label>Server Content:</label>
        <input type="text" class="form-control" [(ngModel)]="serverContents"/>
        <br>
        <div class="col-xs-6">
            <button class="btn btn-secondary" [disabled]="serverName === ''" [ngStyle]="{'color': 'red'}" (click)="addServerContentsToArray('server')">Add Server</button>
        </div>
        <div class="col-xs-6">
            <button class="btn btn-secondary" [disabled]="serverName === ''" [ngStyle]="{'color': 'blue'}" (click)="addServerContentsToArray('blueprint')">Add Server Blueprint</button>
        </div>
    </div>
    <hr>
    <div class="col-xs-12">
        <div class="col-xs-6">
            <h3>Template Reference</h3>
            <label>Template Reference:</label>
            <input type="text" class="form-control" #templateReference/><br>
            <button class="btn btn-primary" (click)="testTemplateReference(templateReference)">Template Reference</button>
            <p>{{templateReferenceValue}}</p>
        </div>
        <div class="col-xs-6">
            <h3>View Child</h3>
            <label>View Child:</label>
            <input type="text" class="form-control" #viewChild/><br>
            <button class="btn btn-primary" (click)="viewChildReference()">View Child Reference</button>
            <p>{{tempVar}}</p>
        </div>
    </div>
    <div class="col-sm-12">
            <button class="btn btn-primary" (click)="joinArrayContents()">Outer Life Cycle Hook</button>
    </div>
</div>