<div class="row">
    <div class="col-xs-12 col-sm-4">
        <div class="list-group">
            <a [routerLink]="['/servers', server.id]" [queryParams]="{allowEdit: server.id === 3 ? '1' : '0' }" [fragment]="'loading'" class="list-group-item" *ngFor="let server of servers">
                {{ server.name }}
            </a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <router-outlet></router-outlet>
        <!-- <app-edit-routing-server></app-edit-routing-server>
        <hr>
        <app-routing-server></app-routing-server> -->
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        Error: <a routerLink="servers">Reload</a> using Roulter Link<br>
        <a routerLink="/servers">Reload</a> using Roulter Link w/p error<br>
    </div>
    <div class="col-xs-6">
        Error: <a (click)="onReload('error')">Reload</a> using Navigate<br>
        <a (click)="onReload('noerror')">Reload</a> using Navigate w/p error<br>
    </div>
</div>