<!-- Uncomment this when practicing Angular -->
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Welcome to {{ title }}!</h1>
            <hr>
        </div>
    <!--basic components & data-binding-->
    <!-- <app-nested-servers></app-nested-servers> -->
    <!--Advanced Components-->
    <!-- <app-advanced-components></app-advanced-components> -->
    <!--ViewChild and ContentChild-->
    <!-- <app-warning-alert></app-warning-alert> -->
    <!--Advanced Directives-->
    <!-- <app-advanced-directives></app-advanced-directives> -->
    <!--Services-->
    <!-- <app-services></app-services> -->
    <!-- <app-assignment></app-assignment> -->
    <!-- Routing -->
    <!-- <app-routing></app-routing> -->
    <!-- Observables -->
    <!-- <app-observables></app-observables> -->
    <!-- Forms -->
    <!-- <app-angular-forms></app-angular-forms>
    <app-td-form-assignment></app-td-form-assignment> -->
    <app-reactive-forms></app-reactive-forms>
</div>

<!-- Uncomment this when working on Recipe Project
<header>
    <~~! <app-header (displayContents)="contentsToDisplay($event)"></app-header> ~~>
    <app-header></app-header>
</header>
<main>
    <div class="container">
        <div class="col-md-12">
            <~~! <app-recipes *ngIf="displayDataFor === 'recipe'"></app-recipes>
            <app-shopping-list *ngIf="displayDataFor === 'shopping'"></app-shopping-list> ~~>
            <router-outlet></router-outlet>
        </div>
    </div>
</main>
<footer></footer> -->