<div class="row">
    <div class="col-xs-12">
        <button (click)="createNewRecipe()" class="btn btn-success">New Recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <!-- <app-recipe-item *ngFor="let recipeItem of recipeModelArray" [recipe]="recipeItem" (recipeSelected)="onRecipeSelected(recipeItem)"></app-recipe-item> -->
        <app-recipe-item *ngFor="let recipeItem of recipeModelArray; let i = index" [recipe]="recipeItem" [index]="i"></app-recipe-item>
    </div>
</div>