<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="addIngredients(form)" #form="ngForm">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control" name="name" ngModel required #nameInput="ngModel">
                    <span class="help-block" *ngIf="!nameInput.valid && nameInput.touched">Please enter a valid item-name</span>
                    <!-- <input type="text" id="name" class="form-control" #nameInput> -->
                </div>
                <div class="col-sm-6 form-group">
                    <label for="amount">Amount</label>
                    <input type="text" id="amount" class="form-control" name="amount" ngModel required [pattern]="'^[1-9]+[0-9]*$'" #amountInput="ngModel">
                    <!--or use pattern="'^[1-9]+[0-9]*$"-->
                    <span class="help-block" *ngIf="!amountInput.valid && amountInput.touched">Please enter a valid item-amount</span>
                    <!-- <input type="number" id="amount" class="form-control" #amountInput> -->
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <!-- <button class="btn btn-success" (click)="addIngredients(nameInput,amountInput)" type="submit">Add</button> -->
                    <button class="btn btn-success margin-right-5perc" type="submit" [disabled]="!form.valid">{{ editMode ? 'Update' : 'Add' }}</button>
                    <button class="btn btn-danger margin-right-5perc" type="button" *ngIf="editMode" (click)="onDelete()">Delete</button>
                    <button class="btn btn-primary" type="button" (click)="resetFormData()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>
      